* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create {
    width: 400px;
    height: 350px;
    background: #DAEDF4;
    margin: auto;
    margin-top: 180px;
    box-shadow: 8px 12px 36px #000;
    padding: 20px 30px;
    border-top: 3px solid blue;
    color: white;
}
