* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("wht.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200%;
}

.crear {
    width: 530px;
    height: 550px;
    background: #a3ddf1;
    margin: auto;
    margin-top: 200px;
    box-shadow: 10px 18px 6px #000;
    padding: 20px 50px;
    border-top: 10px solid rgb(52, 119, 173);
    color: black;
}